.gitignore
*.txt
*.fig
*.asv
*.m
!drawTeapot.m
!gridView.m
!projection.m
!rotateModel.m
!translateModel.m
!bresLine.m
!phong.m
!render.m
!teapotModel.m
!polyFill.m
!interpolation.m
!lightPoint.m
!potgui.m
!renderSurfaces.m
!renderTexture.m
!renderSurf.m
